dj-email-url==1.0.6
dj-database-url==1.2.0
Django==3.2.15
django-cache-url==3.4.4
django-debug-toolbar==3.2.1
django-phonenumber-field==7.0.2
djangorestframework==3.14.0
environs==9.3.2
requests==2.28.2
geopy==2.3.0
ipython==8.8.0
phonenumbers==8.13.4
Pillow==9.4.0
